-i http://pypi.nowoczesnapolska.org.pl/simple

Django>=1.6,<1.7
South>=0.7.4
django-pipeline>=1.2,<1.3
django-piwik
#pyScss
#git+git://github.com/Kronuz/pyScss.git@d8f4da23a3c87696a75b3830ed4ab49b75550a93#egg=pyScss
#TODO: pyScss support, for now just install sass

django_cas>=2.1,<2.2
fnpdjango>=0.1.9.1,<0.2

ipython

django-markupfield
