{% extends "index.j2" %}


{% block intro1title %}How to talk <span class="next">about copyright?</span>{% endblock %}

{% block intro1 %}
<p>We intend to make you think about the meaning of words and influence
your speaking habits. You may disagree with some or all of our opinions.
However, we will be more than happy if we make you think more
critically, consciously and carefully while using copyright language.
Enjoy!</p>

<p><a href="/how-to-talk"><strong>read more</strong></a></p>
{% endblock %}




{% block intro2title %}The game{% endblock %}

{% block intro2 %}
<p>There are 52 cards in a deck. Each card refers to a single popular word used in the copyright debate.</p>

<p>Even very few people in the conference room using the cards can raise awareness of the importance of the copyright language.</p>

<p><strong><a href="/the-game">Copyright Debate: The Conference Card Game</a></strong></p>

<p>
    <a href="//nowoczesnapolska.org.pl/about-us/">
        <img style="margin: 1em 1em 0 0;" src="{{ media_url('img/fnp_small.png') }}" ></a>
    <a href="http://ceetrust.org/">
        <img src="{{ media_url('img/logo-trust.png') }}" ></a>
</p>
{% endblock %}


{% block intro3title %}About{% endblock %}

{% block intro3 %}
<p>This game was created at the workshops held by the Modern Poland Foundation.</p>

<p><a href="/about"><strong>read more</strong></a></p>
{% endblock %}

