<div style="float: right; margin: -2em 0 1em 2em">
See you at
<a href="//copycamp.pl/en/">
<img style="width: 140px; margin-left: .5em; vertical-align: -.4em" src="{{ media_url('img/copycamp.png') }}" alt="CopyCamp">
</a></div>

This work is available under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a> or
<a href="http://artlibre.org/licence/lal/en">Free Art Licence</a>.

<div style="clear:both"></div>