---
title: access
alignment: neutral
---

{% block examples -%}

"We need to work on better access to [copyrighted](/copyright) [content](/content)"

"[Open](/open) access model is taking the lead in scientific publishing"

"The collection is accessible to the public"

{%- endblock %}



{% block usage -%}

Industries often use this word to describe culture only as a passively consumed commodity, but in fact the right to culture contains both right to access to culture, as well as right to actively participate in culture

Often used in the meaning of "showing", either in original or in digital copy, in galleries, public archives, museums

{%- endblock %}



{% block recommendations -%}

Use it with caution. Point out that access is just a part of the right to culture – a fundamental right defined in art 27.1 of UDHR "Everyone has the right freely to participate in the cultural life of the community, to enjoy the arts and to share in scientific advancement and its benefits"

Highlight the point that access alone is not enough – people need to be able to communicate, to [share](/sharing) and create without legal hassles

{%- endblock %}