---
title: allow
alignment: chaotic
---

{% block examples -%}

"It is not allowed to download from the Internet"

"This [license](/license) does not allow the licensee to distribute the [work](/work)"

{%- endblock %}



{% block usage -%}

To give the impression that for any and all uses of a work special [permission](/permission) is required

To establish an unequal relation between copyright holder and participants in culture

{%- endblock %}



{% block recommendations -%}

Underline the fact that culture is being created in a communication process between equal parties

Underline that every work builds upon cultural heritage and that development of culture is seriously hampered if legal systems support permission-based models of communication

{%- endblock %}