---
title: artist
alignment: chaotic
---

{% block examples -%}

"Professional artists have to be [protected](/protection)"

{%- endblock %}



{% block usage -%}

To create an illusion that artists are a privileged group whose interests and rights are prioritized over interests and rights of other participants in culture

{%- endblock %}



{% block recommendations -%}

Do not agree to differentiate artists and other [creators](/creator), use the neutral term "[authors](/author)"

Do not agree to differentiate works of art and other works, as all creativity deserves equal terms; use the neutral term "[works](/work)"

{%- endblock %}