---
title: authorized
alignment: lawful
---

{% block examples -%}

"Copy from an unauthorized source"

"Authorized copy of a movie"

{%- endblock %}



{% block usage -%}

To describe distribution channels which are controlled directly or indirectly by copyright holders

{%- endblock %}



{% block recommendations -%}

Use instead of "[legal](/legal)" when talking about control of distribution channels and not about legal status

Stress that not all copies or uses have to be authorized in order to be legal

{%- endblock %}