---
title: censorship
alignment: lawful
---

{% block examples -%}

"The Copyright Monopoly Was Created As A Censorship Instrument"

{%- endblock %}



{% block usage -%}

To strengthen the message that copyright is being used to limit [freedom](/freedom) of speech


{%- endblock %}



{% block recommendations -%}

Always point out that [freedom](/freedom) of speech is a crucial democratic value and should be put before monetary interests of copyright holders

Point out that copyright-based censorship is currently being executed without judiciary overview (i.e. removing videos from platforms due to copyright [infringement](/infringement)) and as such is more dangerous for society

{%- endblock %}