---
title: commons
alignment: neutral
---

{% block examples -%}

"Tragedy of the commons"

"Creative Commons"

{%- endblock %}



{% block usage -%}

To imply that works are property and cultural commons, as the physical commons, need to be protected

To suggest that cultural commons can be "overused"

To suggest a divide in culture between the "commons" and some other works of art that did not enter the commons, when in fact all culture is the commons

{%- endblock %}



{% block recommendations -%}

Use it with caution; be aware of physical property connotations

{%- endblock %}