---
title: commercial scale
alignment: chaotic
---

{% block examples -%}

"Each Party shall provide for criminal procedures and penalties to be applied at least in cases of willful trademark counterfeiting or copyright or related rights [piracy](/piracy) on a commercial scale"

{%- endblock %}



{% block usage -%}

To calm individuals by suggesting that enforcement will not apply to them as they are not "commercial entities"

To avoid defining the conditions of [commercial or noncommercial use](/commercial-use) clearly

{%- endblock %}



{% block recommendations -%}

Avoid

Insist on clear and unambiguous distinction between for-profit and not-for-profit use, based on factual monetary compensation received

{%- endblock %}