---
title: commercial use
alignment: neutral
---

{% block examples -%}

"Sometimes it's hard to distinguish between commercial and non-commercial use of copyrighted [works](/work)"

{%- endblock %}



{% block usage -%}

Sometimes used as a criterion to determine copyright [infringement](/infringement)

{%- endblock %}



{% block recommendations -%}

Point out that clearly defining what constitutes commercial use and what is still considered non-commercial use is not possible

Use in connection with gaining profits

{%- endblock %}