---
title: consumer
alignment: chaotic
---

{% block examples -%}

"Consumers of culture"

{%- endblock %}



{% block usage -%}

To imply physical property, and suggest that culture may be "consumed", "used up"

To imply that culture is a one-way process, originating with author and ending with consumer

To supports the divide of people into active, creative "authors" and passive "consumers" of culture

{%- endblock %}



{% block recommendations -%}

Avoid it. Word "[user](/user)" is much better in most cases. Use "[audience](/audience)" instead if you cannot avoid it

{%- endblock %}