---
title: control
alignment: chaotic
---

{% block examples -%}

"The [author](/author) has the exclusive right to control the exploitation of their [work](/work)"

{%- endblock %}



{% block usage -%}

To white-wash restrictions on access and usage of cultural works

Moral rights are often used to strengthen the position of the [author](/author) on the economic basis

{%- endblock %}



{% block recommendations -%}

Highlight that full control over [works](/work) is impossible without total surveillance

Make a point that [copyright](/copyright) system is based on balance between copyright holders and [users](/user) rights  

Claim that controlling communication sometimes may mean [censorship](/censorship)

{%- endblock %}