---
title: copyright
alignment: chaotic
---

{% block examples -%}

"Copyright is a rule, [fair](/fair) use is an [exception](/exceptions)"

{%- endblock %}



{% block usage -%}

Creates an impression that all kinds of copying are restricted

Creates the impression that rights of copyright owners are the only ones that need to be addressed as opposed to [users'](/user) rights

{%- endblock %}



{% block recommendations -%}

We do not have much choice in this area anyway

Make a point that [monopolistic](/monopoly) copyright should always be balanced by extensive set of [users'](/user) rights in [fair](/fair) use or [fair](/fair) dealing and do not have absolute nature

Make a point that copyright is a market regulation, a time-limited [monopoly](/monopoly), and not a moral absolute

Make a point copyright is an [exception](/exceptions) and [public domain](/public-domain) is a rule

{%- endblock %}