---
title: copyright
alignment: chaotic
---

{% block examples -%}

"Copyright is a rule, [fair](/fair) use is an [exception](/exceptions)"

{%- endblock %}



{% block usage -%}

Creates an impression that all kinds of copying are restricted

Creates the impression that rights of copyright owners are the only ones that need to be addressed as opposed to [users'](/user) rights

{%- endblock %}



{% block recommendations -%}

Copyright is a right — the right to copy.

Emphasize that copyright *laws* give certain entities a [monopoly](/monopoly) on this right.

In other words, copyright laws *take away* the natural right to copy from the general public.
Copyright *laws* are not about giving rights or protecting rights, they are about *restricting* rights.

Point out that if limiting the right to copy has any justification at all,
we must still protect [users'](/user) rights of [fair](/fair) use or [fair](/fair) dealing.

Make a point that *exclusive* copyright is an [exception](/exceptions) and [public domain](/public-domain),
where everyone has the right to copy, is the rule.

{%- endblock %}
