---
title: copyleft
alignment: lawful
---

{% block examples -%}

"This is a copyleft [license](/license)"

"Copyleft guarantees [freedom](/freedom) of [users](/user)"

{%- endblock %}



{% block usage -%}

To describe a [licensing](/license)" tool to ensure [users'](/user) [freedoms](/freedom)

As a humorous subversion of the term "[copyright](/copyright)" – where copyright limits [users'](/user) [freedoms](/freedom), copyleft promotes them

{%- endblock %}



{% block recommendations -%}

Use only to describe a specific kind of [licenses](/license) (like GNU GPL or CC BY-SA)

Underline the values of copyleft mechanism

{%- endblock %}