---
title: creator
alignment: chaotic
---

{% block examples -%}

"There is a [special bond](/special-bond) between the creator and his [work](/work)"

"Creators shall have [incentives](/incentive) to make their works"

{%- endblock %}



{% block usage -%}

Usually in the context of new creation (ex nihilo) whereas most of [works](/work) are built upon existing cultural heritage

{%- endblock %}



{% block recommendations -%}

Practically every copyrighted work builds upon existing works (either [derives](/derivative) from, or simply is inspired by), hence it is recommended to avoid the term, and use "[author](/author)" or "right holder" (respectively) instead

{%- endblock %}