---
title: culture
alignment: lawful
---

{% block examples -%}

"Right to culture is a human right"

"Copyright should support development of culture"

{%- endblock %}



{% block usage -%}

The meaning of this term may be fluid and not clearly defined

Generally to describe social aspects of human activity

In some contexts as just "high culture": art, music and literature

{%- endblock %}



{% block recommendations -%}

Use it mindfully. The scope of this word is very broad and has a lot of different uses

Make a point that when [sharing](/sharing) of cultural [works](/work) is suppressed, [communities](/community) are stifled

{%- endblock %}