---
title: derivative
alignment: lawful
---

{% block examples -%}

"All creative [works](/work) are derivative"

{%- endblock %}



{% block usage -%}

The idea of a derivative [work](/work) is based on legal definition of work, but in fact there are no clear borders between inspiration and derivative works

May be used to obscure the fact that all works of [culture](/culture) are based on previous achievements

{%- endblock %}



{% block recommendations -%}

Use it with caution

Point out that everything in culture is derivative in some way

{%- endblock %}