---
title: DRM
alignment: chaotic
---

{% block examples -%}

"This [content](/content) is [protected](/protection) by DRM"

"Digital Rights Management helps [protect](/protection) [creators'](/creator) rights"

{%- endblock %}



{% block usage -%}

To indicate that restrictive technologies supposedly serve positive purpose of [protecting](/protection) [authors](/author) by allowing them to [control](/control) the use of their [works](/work)

To conceal that restrictive technologies may prevent lawful uses of works, allowing to exercise excess control over works

{%- endblock %}



{% block recommendations -%}

Avoid the term; when used indicate negative consequences of technical restrictions on the use of works

If unavoidable, use "Digital Restrictions Management" as the long form of "DRM" abbreviation (instead of "Digital Rights Management")

{%- endblock %}