---
title: exceptions
alignment: chaotic
---

{% block examples -%}

"Copyright law provides for exceptions that [allow](/allow) using copyrighted works without [permission](/permission)"

"[Fair](/fair) use is an exception to [copyright](/copyright) law"

{%- endblock %}



{% block usage -%}

To indicate that copyright [monopoly](/monopoly) is the rule and any use without permission is an exception to this rule

{%- endblock %}



{% block recommendations -%}

Use the term "[users'](/user) rights" instead of the term "exceptions"

{%- endblock %}