---
title: fair
alignment: neutral
---

{% block examples -%}

"Fair use defense against copyright [infringement](/infringement) claims"

"Fair dealing [allows](/allow) using copyrighted material without [authors'](/author) [permission](/permission)"

{%- endblock %}



{% block usage -%}

To suggest that some uses of [works](/work) are unfair

To denote that [copyright](/copyright) [monopoly](/monopoly) is not absolute

Refers to e.g. US (fair use) or UK (fair dealing) constructions of [users'](/user) rights

{%- endblock %}



{% block recommendations -%}

Always stress that legal acts of fair use are an integral part of the copyright social contract

Use when referring strictly to respective legal institutions; in a general context use "[users'](/user) rights"

{%- endblock %}