---
title: flexibilities
alignment: chaotic
---

{% block examples -%}

"WIPO will discuss copyright flexibilities for visually impaired people"

{%- endblock %}



{% block usage -%}

Instead of the term "[exceptions](/exceptions) and [limitations](/limitations)"

To convince that [copyright](/copyright) is elastic enough to comply with other rights (e.g. human right to education, information, free speech)

{%- endblock %}



{% block recommendations -%}

Try to use "[users'](/user) rights" whenever possible  

Point out that some uses of [works](/work) should be out of the scope of copyright, as opposed to merely being an [exception](/exceptions) or flexibility

{%- endblock %}