---
title: freedom
alignment: lawful
---

{% block examples -%}

"Free [licenses](/license) ensure freedom to use cultural [works](/works)"

"[Authors'](/author) right to [control](/control) the usage of works may be antithetical to freedom of speech"

{%- endblock %}



{% block usage -%}

As an argument for [copyright](/copyright) limits

As an argument against [censorship](/censorship)

{%- endblock %}



{% block recommendations -%}

Use it in the context of freedom of expression, freedom of speech and freedom of communication

Do not use this word in context of describing author's right to control others (i.e. do not use it instead of "author's privilege")

Make a point that intellectual [monopolies](/monopoly) may restrict freedom to participate in [culture](/culture)

{%- endblock %}
