---
title: incentive
alignment: chaotic
---

{% block examples -%}

"Exclusive rights framework provides [creators](/creator) with an economic incentive to create"

{%- endblock %}



{% block usage -%}

To suggest that [authors](/author) will not undertake any creative work without monetary compensation

{%- endblock %}



{% block recommendations -%}

Point out that incentives are varied and not always monetary

Use the word "payment" if you mean it

Stress that creativity doesn't usually require monetary incentives

{%- endblock %}