---
title: infringement
alignment: lawful
---

{% block examples -%}

"Copyright infringement is the use of [works](/work) infringing the copyright holder's exclusive rights"


{%- endblock %}



{% block usage -%}

To accurately describe unlawful act without suggesting any bad analogies to property rights of material objects

As an ethically neutral term which does not stigmatize copyright infringement as "[theft](/theft)" or "stealing"

{%- endblock %}



{% block recommendations -%}

Use it always instead of "stealing" and "[theft](/theft)"

{%- endblock %}