---
title: intellectual property
alignment: chaotic
---

{% block examples -%}

"We need to [protect](/protection) intellectual property"

"Intellectual property is regarded as a condition for innovation"

{%- endblock %}



{% block usage -%}

As an umbrella term for different areas i.e.: trademarks, patents, copyrights

If used instead of the term [copyright](/copyright), it makes the discussion unclear 

To suggest that intangible assets can be treated as tangible ones

{%- endblock %}



{% block recommendations -%}

Do not use, promote the term "intellectual [monopolies](/monopoly)" instead

Always discern between copyright and industrial rights (patents, trademarks)

Make a point that copyright is a time-limited monopoly to an intangible object

{%- endblock %}