---
title: investment
alignment: chaotic
---

{% block examples -%}

"[Authors](/author) and publishers have to have ways to [protect](/protection) their investment"

{%- endblock %}



{% block usage -%}

To suggest that every cultural activity is intrinsically commercial

To establish a criterion of quality of art based on purely commercial terms ("quality art" is what offers best "return of investment")

{%- endblock %}



{% block recommendations -%}

Avoid in the context of [culture](/culture) and creativity

{%- endblock %}