---
title: legal
alignment: chaotic
---

{% block examples -%}

"There are many legal offers of [content](/content) on the Internet"

"We shall promote legal sources of culture"

"This copy is not legal"

{%- endblock %}



{% block usage -%}

To suggest that some of [culture](/culture) sources are not legal, and by extension that some kinds of cultural [works](/work) or culture per se might be illegal

To create a conviction that participation in culture may have dangerous legal consequences

{%- endblock %}



{% block recommendations -%}

Clearly state the value of informal circulation of culture

Insist that the only thing that can be considered illegal are certain acts concerning cultural works, never the works themselves

Point out that suggesting that certain cultural works are illegal is tantamount to proposing [censorship](/censorship)

{%- endblock %}