---
title: license
alignment: lawful
---

{% block examples -%}

"You need a license to distribute this [work](/work)"

"This is a [Free](/free) [Culture](/culture) License"

{%- endblock %}



{% block usage -%}

As a neutral legal term in the context of giving [permissions](/permission) to users

By industries as suggesting that all uses of the work require consent of the copyright holder

{%- endblock %}



{% block recommendations -%}

Underline that licenses granted by the copyright holder cannot overrule statutory [user's](/user) rights

Differentiate clearly between [free](/free) [culture](/culture) licenses and more restrictive ones (such us some of the Creative Commons licenses)

{%- endblock %}