---
title: limitations
alignment: neutral
---

{% block examples -%}

"[Exceptions](/exceptions) and limitations of [copyright](/copyright) and related rights vary from country to country "

{%- endblock %}



{% block usage -%}

To describe [user](/user) rights, but without recognizing them as a balance to [monopolies](/monopoly), rather as exceptions to a rule

This word has a positive side effect of communicating that exclusive rights always have their limits and are not absolute

{%- endblock %}



{% block recommendations -%}

Talk about "[users'](/user) rights" instead

It may be a little bit better than "[exceptions](/exceptions)" and "[flexibilities](/flexibilities)"

Avoid using the phrase "exceptions and limitations" 

{%- endblock %}