---
title: monetization
alignment: chaotic
---

{% block examples -%}

"[Creators](/creator) should be able to monetize their [works](/work)"

{%- endblock %}



{% block usage -%}

To indicate and underline the supposedly commercial character of all cultural creativity

To strengthen the division of "professional [creators](/creator)" that are able or entitled to "monetize" their works and "amateurs"

To establish a criterion of quality of art based on purely commercial terms

{%- endblock %}



{% block recommendations -%}

Avoid, use more direct terms ("commercialization", "selling", "payment") instead

Insist on using non-monetary criteria of evaluating quality of art

{%- endblock %}