---
title: monopoly
alignment: lawful
---

{% block examples -%}

"Intellectual monopolies are hurting [culture](/culture)"

"Monopoly granted to the [author](/author) is a foundation of the [copyright](/copyright)"

{%- endblock %}



{% block usage -%}

To support the notion that [public domain](/public-domain) is a rule and copyright is an exception

Was prominent in copyright debate, but was replaced by the word "[property](/property)" recently, especially in "[intellectual property](/intellectual-property)"

In liberal ideology "property" is good and "monopoly" is bad, so liberals may see it as derogatory

{%- endblock %}



{% block recommendations -%}

Use it whenever you can to legitimize the rights of the public

Always try to use phrase "intellectual monopolies" instead of "[intellectual property](/intellectual-property)"

{%- endblock %}