---
title: open
alignment: chaotic
---

{% block examples -%}

"This [work](/work) is openly available on the Internet"

"This [work](/work) is open, available under [CC BY-NC-ND](http://creativecommons.org/licenses/by-nc-nd/4.0/)"

{%- endblock %}



{% block usage -%}

In different meanings by different actors in different contexts

In opposition to closed models of distribution of cultural works

Sometimes to blur the lines between [free](/free) (as in [freedom](/freedom)) and non-free [licenses](/license)

{%- endblock %}



{% block recommendations -%}

Be careful of the context in which this word is used

Where possible, talk about [users'](/user) rights and freedoms instead of using the word "open"

Although [free](/free) [licenses](/license) and open licenses usually refer to the same set of
licenses, emphasize that both openness and freedom are important values and something that
only provides "open access" without full freedoms is inadequate.

{%- endblock %}
