---
title: original
alignment: chaotic
---

{% block examples -%}

"His work is truly original."

"Your copy of the software is not original."


{%- endblock %}



{% block usage -%}

To hide the fact that all creative work is dependent on cultural context and create a false image of an [author](/author) creating ex nihilo

As a synonym of "[authorized](/authorized)" or "certified", suggesting that an unauthorized copy is somehow worse or defective

{%- endblock %}



{% block recommendations -%}

Make point that even a "[remix](/remix)" can be original

Point out that in digital world label of an "original" is more than often meaningless

{%- endblock %}