---
title: orphan works
alignment: neutral
---

{% block examples -%}

"Orphan work is a copyrighted [work](/work) for which the copyright [owner](/ownership) cannot be found"

{%- endblock %}



{% block usage -%}

To suggest that a work is somehow harmed when an official "[owner](/ownership)" is not identifiable

May obscure the real problem which is long copyright term and lack of copyright register

On positive side it is a term which helped identify and raise awareness about a valid problems of current copyright system

{%- endblock %}



{% block recommendations -%}

Use with caution, point out that the problem of orphan works is internal defect of an oppressive [copyright](/copyright) system and unrealistic assumptions it's based on

Stress the point that the real problem is long copyright term and inadequate protection of [public domain](/public-domain)

Make a point that in the real world most of works outside of commercial production quickly become orphaned and usually anonymous works

{%- endblock %}