---
title: ownership
alignment: chaotic
---

{% block examples -%}

"You should not deny the [author](/author) the ownership of their [work](/work)"

{%- endblock %}



{% block usage -%}

To suggest that ideas or their expressions can be owned by somebody

To suggest that distribution of ideas or of their expression needs [control](/control) and regulation

To blur the line between authorship (of works of art) and ownership (of tangible objects)

{%- endblock %}



{% block recommendations -%}

Use "authorship" (remembering that works of culture are results of [sharing](/sharing) ideas, are [derivative](/derivative)) instead

Do not agree to the use of "ownership" with regard to intangible objects (ideas, expressions, etc)

{%- endblock %}