---
title: peer to peer
alignment: lawful
---

{% block examples -%}

"You can find anything on peer-to-peer networks"

"Peer-to-peer funds terrorism"

{%- endblock %}



{% block usage -%}

This word is sometimes avoided by [copyright](/copyright) maximalists because it's clearly a not for profit use

Used to underline the decentralized character of digital [sharing](/sharing)

{%- endblock %}



{% block recommendations -%}

Use in positive contexts to underline the culture of decentralized [sharing](/sharing)

Underline that peer-to-peer is an efficient and resilient way of sharing cultural [works](/work)

Underline the fact that peer-to-peer technology is just a neutral tool used to distribute data, the legal status of each act of distribution is a different matter

{%- endblock %}