---
title: permission
alignment: neutral
---

{% block examples -%}

"All rights reserved. You do not have permission to copy or modify this work"

"You need author's permission to use this work"

"You do not have permission to access this information"

{%- endblock %}



{% block usage -%}

Usage of this word often suggests that [author's](/author) consent is always necessary to use a [work](/work). In fact [flexibilities](/flexibilities) in [copyright](/copyright) law allow for a wide range of uses, thus limiting the author's [monopoly](/monopoly)

{%- endblock %}



{% block recommendations -%}

Point out that [users](/user) have certain rights to use works without any permission of the author, as it is a statutory [limitation](/limitations) to the monopoly

Use it instead of the word "buying" in the context of online services that only offer you to pay for a permission to [access](/access) a file instead of a copy of a work

{%- endblock %}