---
title: piracy
alignment: chaotic
---

{% block examples -%}

"Piracy is killing music"

"There is a pirate market of films"

{%- endblock %}



{% block usage -%}

To lump together large, [for-profit](/commercial-use), intentional [infringers](/infringement) with those involved in the act of [sharing](/sharing) of [culture](/culture)

To stigmatize those involved in the act of sharing and hence stifle discussion

As a metaphor of organized illegal activities in the context of [unauthorized](/authorized) copying

{%- endblock %}



{% block recommendations -%}

Try to reject this language entirely, use ethically neutral terms such as "copyright [infringement](/infringement)"

Alternatively, agree to use it, but only with regard to for-profit, intentional infringers; do not agree to use it for [sharing](/sharing) of [culture](/culture)

Alternatively, subvert the term to be positively-loaded (a'la Pirate Party)

{%- endblock %}