---
title: plagiarism
alignment: lawful
---

{% block examples -%}

"We need to fight plagiarism and other forms of [IP](/intellectual-property) [theft](/theft)"

{%- endblock %}



{% block usage -%}

In [copyright](/copyright) debate plagiarism is often purposefully being used as an example for all types of copyright [infringement](/infringement) due to it being universally accepted as reprehensible

Often misleadingly as a synonym for copying

Sometimes is  used as an reason to keep [works](/work) from being published


{%- endblock %}



{% block recommendations -%}

Use it only in right context, which is: falsely taking credit for someone else's work

Always differentiate between plagiarism and other kinds of copyright [infringement](/infringement), because they aren't morally and legally equivalent: copying itself is not plagiarism

{%- endblock %}