---
title: protection
alignment: chaotic
---

{% block examples -%}

"We have to protect [artists](/artist) and our cultural heritage"

"This file is copy protected"

{%- endblock %}



{% block usage -%}

To suggest that copying and distributing of [works](/work) may be "harmful" for the society

To imply danger where none exists, create moral panic

Implies [authors](/author) and [audience](/audience) are adversaries

{%- endblock %}



{% block recommendations -%}

Avoid. Use "restriction" instead as in "copy restriction" and "copyright restriction".

{%- endblock %}
