---
title: public domain
alignment: lawful
---

{% block examples -%}

"This work has passed into the public domain"

"Document has been published in the public domain"

{%- endblock %}



{% block usage -%}

Correctly to identify [works](/work) that are not restricted by [copyright](/copyright) law.

Incorrectly in the context of any [information](/information) that is publicly available

{%- endblock %}



{% block recommendations -%}

Promote the word in the correct meaning to rise awareness of the importance of culture not restricted by copyright law

Indicate that not all publicly available materials are [free](/free) (as in [freedom](/freedom)) to use

{%- endblock %}
