---
title: remix
alignment: lawful
---

{% block examples -%}

"Remix culture needs new legal solutions"

"Everything is a Remix."

"This is not an [original](/original) work, this is just a remix"

{%- endblock %}



{% block usage -%}

Seen as a new form of artistic expression

Sometimes seen by industries as a different form of [commercial](/commercial-use) exploitation of a [work](/work)

{%- endblock %}



{% block recommendations -%}

Claim the right to remix as an important aspect of [free speech](/freedom)

Make a point that most creative works are based on cultural heritage, thus remix is essential to any creative process

{%- endblock %}