---
title: special bond
alignment: chaotic
---

{% block examples -%}

"The doctrine of moral rights is based on the idea that [authors](/author) have a special bond with their own creative work"

{%- endblock %}



{% block usage -%}

To underline that recognition of authorship and other moral rights are inalienable

To justify [authors'](/author) overreaching [control](/control) over how a [work](/work) can be modified and used

{%- endblock %}



{% block recommendations -%}

Avoid

When used explain that while special bond is the idea underlying the construction of moral rights, such rights might be derived from other concepts as well (such as e.g., protection against libel)

Try to refer to specific moral rights, such as paternity or integrity right.

If a copyright monopoly were a special moral right, it would not be defined as being for a limited time (which is still the description today, despite more and more extensions of copyright terms).

{%- endblock %}
