---
title: theft
alignment: chaotic
---

{% block examples -%}

"[Intellectual property](/intellectual-property) theft is a serious problem"

"Copying is stealing"

{%- endblock %}



{% block usage -%}

To stigmatize those involved in the act of [sharing](/sharing) [culture](/culture) and hence stifle discussion

To suggest that intangible assets are somehow tangible, and infinite resources are somehow finite

To suggest that every single [unauthorized](/authorized) copy is a lost sale and lost compensation

To suggest that civil matter of potential [license](/license) [infringement](/infringement) should be handled like a criminal offense

{%- endblock %}



{% block recommendations -%}

Do not agree to use the terms "stealing" and "theft" in the context of [unathorized](/authorized), [non-commercial](/commercial-use) copying and [sharing](/sharing) – we have a more appropriate term for this: [unauthorized](/authorized) copying

{%- endblock %}