---
title: user-generated content
alignment: chaotic
---

{% block examples -%}

"This website features user-generated content"

"We build our business on user-generated content"

{%- endblock %}



{% block usage -%}

To suggest that there are two classes of [authors](/author) ("people of culture" and "[users](/user) that generate content")

To classify some [works](/work) as more valuable than others

As an excuse to lower the level of [protection](/protection) to a class of works created by some participants in [culture](/culture)

{%- endblock %}



{% block recommendations -%}

Do not agree to the use of this term

Stress that all [works](/work) are equally covered by [copyright](/copyright) laws

Underline that the laws recognize the difference between works and other types of [information](/information), not between "works of art" and "user-generated content"

{%- endblock %}