---
title: user
alignment: lawful
---

{% block examples -%}

"[Free](/free) [culture](/culture) respects the user"

"[User generated content](/user-generated-content)"

{%- endblock %}



{% block usage -%}

To support the notion that [culture](/culture) is participatory

In some uses it strengthens the idea that users and [authors](/author) are somehow different: "users" cannot be "true authors"

{%- endblock %}



{% block recommendations -%}

Use it with caution. In most cases the word "user" is much better than "[consumer](/consumer/)". In some cases the words: "[authors](/author)" or "contributors" can be used instead

In some cases it may be misleading: i.e. "[user generated content](/user-generated-content)"

Supports the notion that "some [authors](/author) are <em>more equal</em> than others"

{%- endblock %}